body {
	background: url("https://images.unsplash.com/photo-1494185728463-86366f396213?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
		no-repeat left fixed;
	background-size: cover;
}
.recovery-box {
	width: 400px;
	height: 440px;
	left: 50%;
	transform: translate(-50%, 20%);
	padding: 60px 30px;
	border-radius: 5%;
	position: relative;
	background: rgba(215, 215, 215, 0.8);
}

.logo {
	content: url("https://img.icons8.com/fluent-systems-regular/100/000000/edit-file.png");
	width: 85px;
	height: 85px;
	position: absolute;
	top: -45px;
	left: calc(50% - 45px);
}

.logo:hover {
	content: url("https://img.icons8.com/fluent-systems-filled/100/000000/approve-and-update.png");
}

h2 {
	padding: 0 0 20px;
	text-align: center;
}

.inputs {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.65);
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#cantidad,
#valor {
	padding-left: 17px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

.actualizar {
	margin: -5px 0 30px 0;
	width: 100%;
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	border-radius: 10px;
}

.actualizar:hover {
	background: white;
}

.custom-file-input ~ .custom-file-label::after {
	content: "Elegir";
	display: none;
}

.custom-file-label {
	text-align: center;
	font-size: 14px;
	color: white !important;
	margin-top: 10px;
}
